<script src="https://kit.fontawesome.com/1ec3f09d60.js" crossorigin="anonymous"></script>
</main>
<footer>
  <div class="footer-content">
    <h3>Hannah Östebo</h3>
  </div>
</footer>
</body>

</html>