<div class="likes-container">
  <div class="rating-heart">
    <span class="material-symbols-outlined">
      favorite
    </span>
  </div>
  <div class="counting">
    <span class="counting-span">0</span>
  </div>

</div>