<%- include('partials/header', { userIsLoggedIn: false }) %>


  <div class="container mt-5">

    <div class="postwrapper">
      <div class="flex-login">
        <div class="col-sm-8">
          <h1>Logga in</h1>




          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Lösenord</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Logga in</button>
          </form>
          <script>
            function confirmDelete(postId) {
              var confirmation = confirm("Är du säker på att du vill ta bort detta inlägg?");
              if (confirmation) {
                document.getElementById("deleteForm_" + postId).submit();
              }
            }
          </script>


        </div>

      </div>
    </div>
  </div>